<form class="book-form" [formGroup]="bookForm" (ngSubmit)="submit()">
  <label class="book-form__img-label">
    <p>Upload Cover Image</p>
    @if (coverImage) {
      <mat-icon>image</mat-icon>
    }
    <input type="file" (change)="onImageUpload($event)" style="display: none">
  </label>

  @for (el of bookFormEls; track el.title) {
    <mat-form-field>
      <mat-label>{{ el.title }}</mat-label>

      @if (!el.title.includes('Description')) {
        <input type="text" matInput [placeholder]="el.title" [formControlName]="el.controlName">
      } @else {
        <textarea matInput [placeholder]="el.title" [formControlName]="el.controlName"></textarea>
      }
    </mat-form-field>
  }
  <div class="book-form__btn-wrapper">
    <button type="button" mat-button (click)="cancel()">Cancel</button>
    <button type="submit" mat-flat-button [disabled]="disabled">Save</button>
  </div>
</form>
