.books {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    align-self: center;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
