body {
  --background-color: #F5F5F5;
  --text-color: #333333;
  --secondary-color: #666666;

  --white: #FFFFFF;
  --green: #28A745;
  --red: #DC3545;
  --lightgray: #CCCCCC;

  --shadow-color: rgba(0, 0, 0, 0.1);
}
