@import "../public/assets/styles/base";
@import "../public/assets/styles/shared";
@import "../public/assets/styles/variables";
@import "../public/assets/styles/mixins";
@import "../public/assets/styles/material";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: var(--text-color);
  background-color: var(--background-color);
}
